<!DOCTYPE html>
<html>
<head>
  <title>Agendamento WhatsApp - Sobre Nós</title>
 
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'styles', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>
 <div class="container">
  

  <div class="about-box">
    <h1>Quem Somos:</h1>
    <p class="about-text"> Somos uma empresa dedicada a facilitar o trabalho dos oficiais de justiça por meio da aplicação das mais avançadas tecnologias. Nosso objetivo é otimizar o serviço judicial, proporcionando eficiência e praticidade no cumprimento das diligências. Acreditamos que a tecnologia pode transformar positivamente a maneira como o serviço é prestado, garantindo maior eficiência e resultados superiores para nossos clientes e parceiros.</p>
  </div>
</div>


</body>
</html>
